* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
}

:root {
    --placeholder-color: #212C30;
    --active-canvas: #EEEEEE;
    --gap: 5px;
    --secondary-color: #FFCC80;
}

body {
    background-color: #242426;
    -webkit-user-select: none;
}

#grid-system {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: var(--gap);
    justify-items: center;
}

#grid-first > *:not(:last-child),
#grid-second > *:not(:last-child),
#grid-third > *,
.taskplanner,
.canvas,
.damn {
    border: 1px solid #FFAD54;
}

.assistant-content img {
    width: 20%;
    align-self: end;
}

.assistant-content {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: 2fr 1fr 2fr;
    height: 80%;
}

.assistant-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
}

.center-content {
    display: grid;
    width: 100%;
    place-items: center;
}

.center-content img {
    width: 90%;
}

.share-content {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr 1fr;
    place-items: center;
}

.share-content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(to right, #FFAD54, #FFCC80, #80CBC4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.share-content img {
    width: 40%;
}

/* First Grid */
#grid-first {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: var(--gap);
}

.grid-first-two {
    background-color: var(--placeholder-color);
    display: grid;
    align-items: center;
}

.grid-first-one {
    background-color: var(--placeholder-color);
    display: grid;
    align-items: center;
}

.grid-first-three {
    background-color: var(--placeholder-color);
    display: grid;
    align-items: center;
}

.grid-first-four {
    background-color: #242426;
    display: grid;
    align-items: center;
}

.flipCard {
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    position: relative;
    width: 100%;
    height: 100%;
}

.flipCard .card.flipped {
    transform: rotatey(-180deg);
    -ms-transform: rotatey(-180deg);
    /* IE 9 */
    -moz-transform: rotatey(-180deg);
    /* Firefox */
    -webkit-transform: rotatey(-180deg);
    /* Safari and Chrome */
    -o-transform: rotatey(-180deg);
    /* Opera */
}

.flipCard .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -o-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    display: grid;
    align-items: center;
}

.flipCard .card .icon {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    backface-visibility: hidden;
    /* W3C */
    -webkit-backface-visibility: hidden;
    /* Safari & Chrome */
    -moz-backface-visibility: hidden;
    /* Firefox */
    -ms-backface-visibility: hidden;
    /* Internet Explorer */
    -o-backface-visibility: hidden;
    /* Opera */
    overflow: hidden;
    display: grid;
    justify-items: center;
    width: 100%;
    background-color: var(--placeholder-color);
}

.icon img {
    width: 20%;
    align-self: end;
}

.icon-tekst {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(to right, #FFAD54, #FFCC80, #80CBC4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flipCard .card .back {
    transform: rotatey(-180deg);
    -ms-transform: rotatey(-180deg);
    /* IE 9 */
    -moz-transform: rotatey(-180deg);
    /* Firefox */
    -webkit-transform: rotatey(-180deg);
    /* Safari and Chrome */
    -o-transform: rotatey(-180deg);
    /* Opera */
}

/*---------------------------------------------------------- */
/* Second Grid */
#grid-second {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: 0.75fr 1fr 3fr;
    grid-gap: var(--gap);
}

.damn {
    display: grid;
    place-items: center;
    background-color: var(--placeholder-color);
    height: 100%;
}

.grid-second-one {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    width: 55%;
    margin: 0 auto;
    background-color: var(--placeholder-color);
}

.design-thinking {
    background: linear-gradient(to right, #FFAD54, #FFCC80, #80CBC4);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 1px;
    display: grid;
    place-items: center;
}

.design-thinking-text {
    background-color: var(--placeholder-color);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.design-thinking-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
}

.grid-second-two {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    background-color: var(--placeholder-color);
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.window {
    overflow: hidden;
    position: relative;
}

#carousel {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 50px;
    width: 200px;
    position: relative;
}

.slide {
    height: 100px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide#s1,
.slide#s2,
.slide#s3,
.slide#s4,
.slide#s5 {
    background-color: var(--placeholder-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
}

#prev,
#next {
    cursor: pointer;
}

#prev img,
#next img {
    width: 40%;
}

#next {
    transform: rotateY(180deg)
}

.transition {
    transition: .7s;
}

.grid-second-three {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    height: 100%;
    grid-gap: var(--gap);
}

.inactive-zone {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1.5fr;
    grid-row-gap: 5px;
}

.taskplanner {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    align-items: start;
    height: 100%;
    background-color: var(--placeholder-color);
}

.taskplanner-category {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-gap: 20px;
    margin: 20px 0 20px;
}

.taskplanner-category p {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: var(--secondary-color);
}

.taskplanner-category img {
    width: 15%;
}

.help {
    justify-self: end;
}

.opposite {
    justify-self: start;
    transform: rotateY(180deg)
}

.today {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    grid-gap: 5px;
}

#date {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--secondary-color);
    font-weight: medium;
}

.weather {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-items: center;
}

.weather p {
    font-family: 'Montserrat', sans-serif;
    font-size: 5px;
    color: white;
}

.weather img {
    width: 30%;
}

#time {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #FFAD54;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

#time div {
    display: grid;
    place-items: center;
    background: linear-gradient(to right, #FFAD54, #FFCC80, #80CBC4);
    top: 50%;
    width: 40px;
    height: 40px;
}

#time div p {
    display: grid;
    place-items: center;
    background-color: var(--placeholder-color);
    width: 38px;
    height: 38px;
}

.taskcollection {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-gap: 15px;
    height: 100%;
}

.taskbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}

.taskbar-semiotics {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: white;
}

.taskbar img {
    align-self: start;
    width: 50%;
}

.canvas {
    background-color: var(--placeholder-color);
    background-image: url(../images/line.svg);
    background-size: cover;
    display: grid;
    place-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
}

.zone {
    background-color: #17171A;
}

/*---------------------------------------------------------- */
/* Third Grid */
#grid-third {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: var(--gap);
}

.grid-third-one {
    background-color: var(--placeholder-color);
    display: grid;
    align-items: center;
}

.grid-third-two {
    background-color: var(--placeholder-color);
    display: grid;
    align-items: center;
}

.grid-third-three {
    background-color: var(--placeholder-color);
    display: grid;
    align-items: center;
}

.grid-third-four {
    background-color: var(--placeholder-color);
    display: grid;
    align-items: center;
}

/*---------------------------------------------------------- */
/* --------------------------------------------------------*/
