* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
}

:root {
    --placeholder-color: brown;
    --active-canvas: white;
}

body {
    background: #333;
    -webkit-user-select: none;
}

img {
    width: 100%;
}

.canvas {
    background-color: var(--active-canvas);
}

.color {
    width: 100%;
    height: 100%;
    background-color: var(--placeholder-color);
}

.color2 {
    width: 100%;
    height: 100%;
    background-color: chocolate;
}

#grid-system {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 1px;
    justify-items: center;
}

/* First Grid */
#grid-first {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1px;
}

.grid-first-middle {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    background-color: var(--placeholder-color);
}

.columns {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    justify-items: center;
}

li {
    display: grid;
    justify-items: center;
    align-items: center;
    text-decoration: none;
}

.design-thinking {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: antiquewhite;
}

.grid-first-left {
    background-image: url(../images/hologram.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-first-right {
    background-image: url(../images/assistant.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------------------------------- */
/* Second Grid */
#grid-second {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    background-color: var(--placeholder-color);
}

/*---------------------------------------------------------- */
/* Third Grid */
#grid-third {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr 4fr 1fr 2fr;
    grid-template-rows: auto;
    background-color: var(--placeholder-color);
}

.grid-third-share {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    background-color: var(--placeholder-color);
    grid-template-areas:
        ". . ."
        "share share share"
        ". . .";
}

.share4 {
    grid-area: share;
}

.grid-third-taskplanner {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
}

.overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    width: 100%;
}

.today {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

#date {
    line-height: 12px;
    text-align: left;
}

#time {
    font-size: 20px;
}

.tasks p {
    font-size: 10px;
    text-align: left;
}

.button-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.125em;
}

/*.button-collection button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}*/

.grid-third-taskbar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
}

.utility {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.button-collection2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*---------------------------------------------------------- */
/* Fourth Grid */
#grid-fourth {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr 4fr 1fr 2fr;
    grid-template-rows: auto;
}

/*---------------------------------------------------------- */
/* Fifth Grid */
#grid-fifth {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr 4fr 1fr 2fr;
    grid-template-rows: auto;
}

/*---------------------------------------------------------- */
/* --------------------------------------------------------*/
/* Code By Webdevtrick ( https://webdevtrick.com ) */
.container {
    position: relative;
    width: 600px;
    margin: 0 auto;
}

.window {
    overflow: hidden;
    position: relative;
    background: #222;
}

#carousel {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 5px;
    width: 100%;
    position: relative;
}

.slide {
    height: 100px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide#s1 {
    background: #00c8c8;
}

.slide#s2 {
    background: #ff4946;
}

.slide#s3 {
    background: #5cb85c;
}

.slide#s4 {
    background: #3a559f;
}

.slide#s5 {
    background: #ff8500;
}

#prev,
#next {
    cursor: pointer;
    font-size: 14pt;
}

.nextprev {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto;
}

.transition {
    transition: .7s;
}
